#contactme-section {
  font-size: 19px;
  margin-top: 60px;
}

#contactme-section h1 {
  font-size: 50px;
}

#contact-form p {
  margin-bottom: 10px;
}

#contact-form .form-control {
  margin-bottom: 15px;
  width: 95%;
  color: grey;
  border-radius: 3px;
  text-color: black;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: lightwhite;
  border: 2px solid #D3D3D3;
  border-radius: 4px;
  font-size: 80%;
}


