// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 20px;
    padding-left: 10%;
    list-style: decimal;
    display: inline-block;
    line-height: 20%;
    overflow: hidden;
    font-size: medium;
    width: 100%;
}
