---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<link href="https://fonts.googleapis.com/css?family=Happy+Monkey&amp;subset=latin-ext" rel="stylesheet">
<body id="homepage">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <h1>
		<span style="color: #dd0000">gnu</span>linuxmate
        </h1>
        <h2>
          {{ site.description }}
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <a href="{{ site.url }}/gists" title="Gists" class="gists-menu-icon"></a>
    <span class="gists-link">GISTS</span>
    <a href="{{ site.url }}/posts" title="Posts" class="posts-menu-icon"></a>
    <span class="posts-link">POSTS</span>
    <a href="/profile" title="Profile" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROFILE</span>
    <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
    </div>
  </div>
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/jquery-1.11.2.min.js"></script>
  <script src="{{ site.url }}/assets/js/typed.js"></script>
  <script src="{{ site.url }}/assets/js/type.js"></script>
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
</body>
</html>
